<div class="container">
  <h2>{{title}}</h2>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Emp Id</th>
        <th>Emp Name</th>
        <th>Emp Contact</th>
        <th>No. of job Assign</th>
        <th>Assign Job</th>
        <th>View Jobs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of emplist">
        <td>{{emp.empId}}</td>
        <td>{{emp.empName}}</td>
        <td>{{emp.contact}}</td>
         <td>{{emp.noOfJobAssigned}}</td>
        <td><button type="button" (click)="assignNewJob(emp)" class="btn btn-primary active">Assign Job</button></td>
       <td><button type="button" (click)="viewJobs(emp)" class="btn btn-primary active">View jobs</button></td>
      </tr>
      
    </tbody>
  
  </table>

</div>
 